@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Overpass:wght@400;700&display=swap");

$primary-color: hsl(150, 100%, 66%);
$textColor: hsl(193, 38%, 86%);
$BackgroundColor: #202632;
$FontFamilyQuote: "Manrope", sans-serif;
$BoxColor: #313a49;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: $textColor;
}

h1 {
  color: $primary-color;
  text-align: center;
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-weight: 400;
  font-family: "manrope";
  background-color: $BackgroundColor;
}

main {
  margin: auto 0;
}

p {
  text-align: center;
  margin: 25px 0px;
  font-weight: 800;
  font-size: 26px;
}

.content-wrapper {
  padding: 20px;
}

.container {
  display: block;
  position: relative;
  padding: 30px;
  border-radius: 10px;
  background-color: $BoxColor;
  max-width: 400px;
  margin: auto;
  img {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    max-width: 100%;
  }
  .img-desktop {
    display: none;
  }
  button {
    left: 50%;
    border: none;
    width: 65px;
    height: 65px;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $primary-color;
    background-image: url(/images/icon-dice.svg);
    &:hover {
      filter: drop-shadow(0px 0px 15px $primary-color);
    }
  }
}

footer {
  //margin-top: auto;
  padding: 20px 60px;
  max-width: 100%;
  background-color: $BoxColor;
  .attribution {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    a {
      color: $primary-color;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    .img-mobile {
      display: none;
    }
    .img-desktop {
      display: block;
    }
  }
}
